body {
	font-family: helvetica;
}
.wrapper {
	margin: 0 auto;
	width: 1300px;
	height:1000px;
	/*border: 1px solid black;*/
}
header {
	padding: 50px;
	text-align: center;
}
footer {
	text-align:center;
}
.main ul {
	margin: 0 auto;
	padding: 0;
	width: 167px;
}
.main ul li {
	float: left;
	list-style: none;
	margin: 0 10px;
}
.main a:hover {
	background-color: black;
	color:white;
}
#merlin {
	display:none;
}
#field {
	display:block;
}
.accordion {
	border: 2px solid black;
	background-color: #E1E7E8;

}
.accord-content {
	display:none;
	background-color:white;
	padding: 10px 20px

}
.JSfiles a{
	cursor: pointer;
}
.JSfiles a:hover {
	color:white;
	background-color:black;
}

section:first-child h4 {
	border-top:none;
}
select {
	margin-left: 20px;
}
h4 {
	border-top: 1px dotted #333;
	margin: 0;
	padding: 10px 20px;
	cursor: pointer;
}
h4:hover {
	background-color: gray;
}

a {
	text-decoration: none;
	color:black;
}

p {
	margin :6px 0;
}
li {
	list-style:square;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

.tc-field { 
	position: relative;
	clear: left;
	margin: 0 0 0 20px;
	border: 1px solid transparent;
}

.tc-field.state-invalid {
	border-color: #dd0000;
	width:155px;
}

.tc-field-label {
	font-size: 12px;
	text-transform: uppercase;
}

.tc-field-hint {
	color: #999999;
	font-size: 14px;
	font-style: italic;
}

.tc-dropdown {
	width: 250px;
}

.tc-dropdown .display {
	cursor: pointer;
	padding: 5px 10px;
	border: 2px solid #999999; 
	overflow: hidden;
	white-space: nowrap;
}
.tc-dropdown .display:hover {
	background-color: #f9f9f9;
	border-color: #333333;
}
.tc-dropdown .display .state-empty {
	color: #888888;
	font-style: italic;
}
.tc-dropdown .menu { 
	display: none;
	margin: 0; 
	padding: 0; 
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	width: 100%; 
	background-color: #ffffff;
	box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
.tc-dropdown .item {
	cursor: pointer;
	padding: 5px 10px;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 14px;
}
.tc-dropdown .item.state-active {
	color: #dd0000;
	font-weight: bold;
}
.tc-dropdown .item:hover {
	background-color: #999999;
	color: #ffffff;
}
.tc-dropdown .item:active {
	background-color: #000000;
	color: #ffffff;
}

.tc-dropdown .item input[type="checkbox"] {
	margin: 0px 10px 0px 0px;
	position: relative;
	top: -2px;
}
.sexy-control {
	cursor: pointer;
	float: left;
}

.sexy-checkbox {
	margin-right: 5px;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	border: 2px solid #fff;
	background: #f9f9f9; background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );
	background: linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	-webkit-transition: all 100ms ease-in-out; -moz-transition: all 100ms ease-in-out; 
	-o-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out;
}
.sexy-checkbox:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2); 
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}
.sexy-checkbox.state-active {
	background: #d87936; background: -moz-linear-gradient(top, #d87936 0%, #c46623 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d87936), color-stop(100%,#c46623));
	background: -webkit-linear-gradient(top, #d87936 0%,#c46623 100%);
	background: -o-linear-gradient(top, #d87936 0%,#c46623 100%);
	background: -ms-linear-gradient(top, #d87936 0%,#c46623 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d87936', endColorstr='#c46623',GradientType=0 );
	background: linear-gradient(top, #d87936 0%,#c46623 100%);
}
